<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<a href=""></a>

<body>
    <nav>
        <ul className="nav__list">
            <li className="nav__item">
                <Link to="/new-Releases">New Releases</Link>
            </li>
            <li className="nav__item">
                <Link to="/popular">Popular</Link>
            </li>
            <li className="nav__item">
                <Link to="#">Categories</Link>
            </li>
        </ul>
    </nav>
</body>

</html>